.bg{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url("./Img/Arijith.jpg");
    background-size:cover;
    font-size:25px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
audio:hover,audio:focus,audio:active{
    box-shadow:15px 15px 20px;
    transform:scale(1.05);
}
audio{
    transition: all .05s linear;
    box-shadow: ppx 2px 4 px 0px;
    border-radius: 10px;
}